/* {Screen Size: Desktop} */
@media (max-width: 1500px) {
    body {
        background-color: black;
        height: 100vh;
        width: 100vw;
        color: whitesmoke;
    }
    .World {
        border: 1px solid blue;
        width: 100vw;
        height: 5%;
        text-align: center;
        padding-bottom: 3%;
        color: goldenrod;
    }
        /* World Title Styling */
        
    .SuperContainer {
        border: 1px solid white;
        height: 95%;
        width: 100vw;
        display: flex;
    }
        /* Customizeable Game Screen */
        .CharacterInfo {
            border: 1px solid green;
            padding: 10px;
            height: 100%;
            width: 25%;
        }
            /* Character Info Properties */
            .CharacterNameLevel {
                border: 1px solid skyblue;
                height: 7%;
                width: auto;
            }
            .CharacterStats {
                border: 1px solid yellow;
                height: 60%;
            }
            .Inventory {
                border: 1px solid pink;
                height: 30%;
            }
        .PrimaryGameplay {
            border: 1px solid crimson;
            height: 100%;
            width: 60%;
        }
            /* Primary Gameplay Properties */
            .Area {

            }
            .Scene {

            }
            .ActionLog {

            }
        .OptionsBar {
            border: 1px solid purple;
            height: 100%;
            width: auto;
        }
}
/* {END Screen Size: Desktop} */



/* {Screen Size: Mid/Tablet} */
@media (max-width: 900px) {
    body {
        background-color: black;
        height: 100vh;
        width: 100vw;
    }
    .World {
        border: 1px solid blue;
        width: 100vw;
        height: 5vh;
    }
    .SuperContainer {
        border: 1px solid white;
        height: 95vh;
        width: 100vw;
    }
    .CharacterInfo {

    }
        /* Character Info Properties */
        .CharacterNameLevel {

        }
        .CharacterStats {

        }
        .Inventory {

        }
    .PrimaryGameplay {

    }
        /* Primary Gameplay Properties */
        .Area {

        }
        .Scene {

        }
        .ActionLog {

        }
    .OptionsBar {

    }
}
/* {END Screen Size: Mid/Tablet} */



/* {Screen Size: Mobile} */
@media (max-width: 600px) {
    body {
        background-color: black;
        height: 100vh;
        width: 100vw;
    }
    .World {
        border: 1px solid blue;
        width: 100vw;
        height: 5vh;
    }
    .SuperContainer {
        border: 1px solid white;
        height: 95vh;
        width: 100vw;
    }
    .CharacterInfo {

    }
        /* Character Info Properties */
        .CharacterNameLevel {

        }
        .CharacterStats {

        }
        .Inventory {

        }
    .PrimaryGameplay {

    }
        /* Primary Gameplay Properties */
        .Area {

        }
        .Scene {

        }
        .ActionLog {

        }
    .OptionsBar {

    }
}
/* {END Screen Size: Mobile} */