/* {Screen Size: Desktop} */
@media (max-width: 1500px) {
    body {
        background-color: black;
        height: 100vh;
        width: 100vw;
        color: whitesmoke;
    }
    .World {
        border: 1px solid blue;
        width: 100vw;
        height: 5%;
        text-align: center;
        padding-bottom: 3%;
        color: goldenrod;
    }
        /* World Title Styling */
        
    .SuperContainer {
        border: 1px solid white;
        height: 95%;
        width: 100vw;
        margin-right: auto;
        display: flex;
    }
        /* Customizeable Game Screen */
        .CharacterInfo {
            border: 1px solid green;
            padding: 10px;
            height: auto;
            width: 25%;
        }
            /* Character Info Properties */
            .CharacterNameLevel {
                border: 1px solid skyblue;
                height: 7%;
                width: auto;
            }
            .CharacterStats {
                border: 1px solid yellow;
                height: 60%;
            }
            .Inventory {
                border: 1px solid pink;
                height: 30%;
            }
        .PrimaryGameplay {
            border: 1px solid crimson;
            height: auto;
            width: 65%;
            padding: 10px;
        }
            /* Primary Gameplay Properties */
            .Area {
                border: 5px solid crimson;
                border-radius: 15px;
                height: 7%;
                width: auto;
                text-align: center;
                padding-bottom: 10px;
                position: absolute;
                left: 50%;
                color: black;
            }
            .Scene {
                border: 3px dotted blue;
                height: 100%;
                width: auto;
            }
                /* Elements to fill the gameplay visual */
                #FakeScene {
                    height: 100%;
                    width: 100%;
                }
            .ActionLog {
                border: 5px solid crimson;
                border-radius: 15px;
                height: 7%;
                width: auto;
                text-align: center;
                padding-bottom: 10px;
                position: absolute;
                left: 50%;
                color: black;
                bottom: 0%;
                font-weight: bolder;
            }
        .OptionsBar {
            border: 1px solid purple;
            height: 100%;
            width: auto;
            margin-right: auto;
        }
}
/* {END Screen Size: Desktop} */



/* {Screen Size: Mid/Tablet} */
@media (max-width: 900px) {
    body {
        background-color: black;
        height: 100vh;
        width: 100vw;
    }
    .World {
        border: 1px solid blue;
        width: 100vw;
        height: 5vh;
    }
    .SuperContainer {
        border: 1px solid white;
        height: 95vh;
        width: 100vw;
    }
    .CharacterInfo {
        border: 1px solid green;
        padding: 10px;
        height: auto;
        width: 30%;
    }
        /* Character Info Properties */
        .CharacterNameLevel {

        }
        .CharacterStats {

        }
        .Inventory {

        }
    .PrimaryGameplay {
        border: 1px solid crimson;
        height: auto;
        width: 70%;
        padding: 10px;
    }
        /* Primary Gameplay Properties */
        .Area {

        }
        .Scene {

        }
        .ActionLog {

        }
    .OptionsBar {
        border: 1px solid purple;
        height: 100%;
        width: auto;
        display: none;
    }
}
/* {END Screen Size: Mid/Tablet} */



/* {Screen Size: Mobile} */
@media (max-width: 580px) {
    body {
        background-color: black;
        height: 100vh;
        width: 100vw;
    }
    .World {
        border: 1px solid blue;
        width: 100vw;
        height: 5vh;
    }
    .SuperContainer {
        border: 1px solid white;
        height: 95vh;
        width: 100vw;
    }
    .CharacterInfo {
        border: 1px solid green;
        padding: 10px;
        height: auto;
        width: 30%;
        display: none;
    }
        /* Character Info Properties */
        .CharacterNameLevel {

        }
        .CharacterStats {

        }
        .Inventory {

        }
    .PrimaryGameplay {
        border: 1px solid crimson;
        height: auto;
        width: 100%;
        padding: 10px;
    }
        /* Primary Gameplay Properties */
        .Area {

        }
        .Scene {

        }
        .ActionLog {

        }
    .OptionsBar {
        border: 1px solid purple;
        height: 100%;
        width: auto;
        display: none;
    }
}
/* {END Screen Size: Mobile} */